@import "base/police.scss";
@import "components/boutons.scss";
@import "layouts/layouts.scss";
@import "pages/pages.scss";
@import "themes/themes.scss";
@import "utils/%placeholders.scss";
@import "utils/fonctions.scss";
@import "utils/mixins.scss";
@import "utils/variables.scss";
@import "vendors/vendors.scss";



/**Loading Spinner***************/
.ohmyfood h1{
    color: #fff;
    width: 100%;
    font-family: 'shrikhandregular';
    font-size: 3rem;
    letter-spacing: 2px;
    overflow: hidden;
}



.box__loader__spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: idric 5.0s ;
    animation-fill-mode: forwards;
    animation-delay: 3s; 
    
}
 
@keyframes idric{

    0%  { opacity: 100%; }
    10% { opacity: 95%; }
    25% { opacity: 85%; }
    30% { opacity: 80%; }
    35% { opacity: 75%; }
    40% { opacity: 70%; }
    45% { opacity: 65%; }
    50% { opacity: 60%; }
    55% { opacity: 55%; }
    60% { opacity: 50%; }
    65% { opacity: 45%; }
    70% { opacity: 40%; }
    75% { opacity: 35%; }
    80% { opacity: 30%; }
    85% { opacity: 25%; }
    90% { opacity: 20%; }
    95% { opacity: 10%; }
    100% { opacity: 0%; }
}


@keyframes idric {
    from {
        transform: translateY(0px);
    }

    to {      
        transform: translateY(-1500px);
    }
}






.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    @include couleur-btn;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    
  } 
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }


  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  


/***header*****************************************************/


.img_header {
    display: none;
}

.img_header {
        @media screen and (min-width: 630px) { 
            background-image: url(../image/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            background-position: center;
            background-repeat: no-repeat;
            @include box-shadow-choix;
            display:block;
            width: 100%;
            height: 400px;
            z-index: 1;
        }
}




/**Section logo**/

.nav__logo {
@include box-shadow; 
width        : 100%;
margin-bottom: 3px;
height       : auto;


    .logo {
        background-image   : url("../image/logo/ohmyfood@2x.svg");
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : 50%;
        width              : 98%;
        margin-left        : auto;
        margin-right       : auto;
        height             : 60px;
        cursor             : pointer;


            @media screen and (min-width: 630px) and (max-width: 991px){ 
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                top: 10px;
                width: 80%;
                height: 90px;  
            }


            @media screen and (min-width: 992px) { 
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                top: 20px;
                width: 80%;
                height: 140px;                                         
            }
     
    }


}



/**Section box Explorer**********************************************/

.section__box__explorer {
    width           : 100%;
    height          : auto;
    background-color: $gris-claire;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    padding-bottom  : 40px;

        &:hover .fa-map-marker-alt {
            display: none;
        }


        .fa-map-marker-alt {
            position: absolute;
            display: block;
            top: 75px;
            left: 100px;
            z-index: 1;
        }


        .box__explorer__palceholder {
            width           : 100%;
            background-color: $gris-fonce;
            display         : flex;
            justify-content : center;
            height          : 40px;
            position: relative;
            

                .explorer {
                    align-items     : center;
                    background-color: $gris-fonce;
                    width           : 60%;
                    display         : flex;
                    flex-direction  : column;
                    text-align      : center;                                  
                }


                input::placeholder {
                    color:black;                                 
                }


                input.explorer {
                    font-weight: bolder;
                    border     : none;  
                    font-family: 'Roboto', sans-serif; 
                    font-size: 1.0rem; 
                    font-weight: lighter;                    
                }

        }

 

        .box__explorer__texte {
            width        : 100%;
            margin-top   : 50px;
            margin-bottom: 30px;
            text-align   : center;
            

                & h1 {
                    width       : 70%;
                    margin-left : auto;
                    margin-right: auto;
                    margin-bottom: 10px;
                }

                & h2 {
                    width      : 90%;
                    font-size  : 1.0rem;
                    font-weight: lighter;
                    margin-left: auto;
                    margin-right: auto;
                    
                }
        }


    .box__explorer__btn {
        
        .bouton__1 {
            @include bouton;
            @include couleur-btn;
             
                &:hover {
                    @include box-shadow-choix;
                    padding      : 10px 17px 10px 17px; 
                } 
        }


    }

}


@media screen and (min-width: 992px) {

    .tablette_pc_1 {
        display:flex;
        align-items: center;
        width: 100%;
    }

    .section__box__explorer,
    .section__box__fonctionnement {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }



    .section__box__fonctionnement h2 {
        margin-left: 45px;
    }


    .section__box__explorer .box__explorer__palceholder {
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%);
        width: 30%;
        height: 80px;
        border-radius: 10px;
        background-color: #fff;

            .explorer {
                background-color: #fff;
                padding-top: 10px;
            }      
    }

    
    input::placeholder {      
        font-size: 1.5rem;     
    }


    input[type="text"]
    {
        font-size:3.5rem;
    }


    .section__box__explorer .fa-map-marker-alt {
        top: 330px;
        left: 39%;
        font-size: 1.3rem;
    }


}


@media screen and (min-width: 630px) and (max-width: 991px){ 
    .section__box__explorer .fa-map-marker-alt {
        top: 40%;
        left: 39%;
        font-size: 1.3rem;
    }


}

/**Section Box Fonctionnement**********************************/

.section__box__fonctionnement {                  
    width      : 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    

    .box__fonctionnent__texte {
        margin-bottom: 20px; 
        margin-left  : 20px;
        }
}      
    

.box__fonctionnement__item {
    background-color: $gris-claire;
    align-items     : center;
    width           : 85%;
    margin-left     : auto;
    margin-right    : auto;
    margin-bottom   : 20px;
    height          : 60px;
    display         : flex;
    justify-content : flex-start;
    border-radius   : 15px;
    position        : relative;
    @include box-shadow-choix;
    cursor: pointer;
    
        &:hover  {
            @include bg-secondaire-claire;       
        }


        .fa-mobile-alt,
        .fa-list-ul,
        .fa-store {
            margin-right: 20px;
            color       : #7e7e7e;                   
        }



        .box__fonctionnement__item__num {     
            background-color: $primaire;
            color           : #fff;
            width           : 18px;
            height          : 16px;
            border-radius   : 100%;
            margin-left     : -10px;
            margin-right    : 20px;
            text-align      : center;
            padding         : 1px 0px 0px 0px ;
            
        }


        .box__fonctionnement__item__p {
            font-weight: bolder;
           
        }

}

@media screen and (min-width: 991px) {

    .box__fonctionnement__item .box__fonctionnement__item__num {     
        width           : 25px;
        height          : 22px;
        margin-left     : -10px;
        margin-right    : 20px;
        padding         : 1px 0px 0px 0px ;
        
    }

    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
        font-size: 1.2rem;
        padding-top: 4px;
               
    }

}



/**section__box__restaurant**********************************************/

.section__box__restaurant {               
    width         : 100%;
    padding-top   : 30px;
    padding-bottom: 40px;
    background-color: $gris-claire;
       

    .box__restaurant__texte {
        margin-bottom: 20px; 
        margin-left  : 20px;       
    }    


    .box__restaurant_carte {
        display       : block;
        width         : 90%;
        height        : auto;
        margin-left   : auto;
        margin-right  : auto;
        border-radius : 10px;
        padding-bottom: 15px;
        @include box-shadow-choix;
        margin-bottom : 20px;
        position      : relative;
        cursor        : pointer;


            .box__restaurant__image_1 {
                background-image   : url(../image/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
                @include bg-img;
                width              : 100%;
                height             : 175px;

                    @media screen and (min-width: 630px) {           
                        height             : 300px;
                    }
            }


            .box__restaurant__image_2 {
                background-image   : url(../image/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                @include bg-img;
                width              : 100%;
                height             : 175px;

                    @media screen and (min-width: 630px) {           
                        height             : 300px;
                    }
            }


            .box__restaurant__image_3 {
                background-image   : url(../image/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                @include bg-img;
                width              : 100%;
                height             : 175px;

                    @media screen and (min-width: 630px) {           
                        height             : 300px;
                    }
            }


            .box__restaurant__image_4 {
                background-image   : url(../image/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                @include bg-img;
                width              : 100%;
                height             : 175px;

                    @media screen and (min-width: 630px) {           
                        height             : 300px;
                    }
            }


            h3, p {
                margin-left: 10px;
            }



            .far:hover {
                font-size: 1.3rem;
                display: block;
                background: -webkit-linear-gradient($primaire, $secondaire );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bolder;
                transition: all 1.5s linear 0s;

                @media screen and (min-width: 630px) {
                    font-size: 2.0rem;       
                }
                }
        

            .fa-heart {
                font-size  : 1.3rem;
                font-weight: lighter;
                position   : absolute;
                top        : 190px;
                left       : 80%;
                color: black;

                    @media screen and (min-width: 630px) {
                        top: 320px; 
                        left: 90%; 
                        font-size: 2.0rem;       
                    }

                }


            .nouveau {
                width: 70px;
                height: 20px;
                background-color: $tertiaire;
                text-align: center;
                font-size: 0.8rem;
                @include tertiaire-fonce;
                border-radius: 2px 2px 2px 2px;
                padding-top: 5px;
                position: absolute;
                top: 10px;
                left: 70%;
            }
                              
    }
                    
}

 
@media screen and (min-width: 991px) {

    .box__restaurant__texte h2 {
        margin-left: 0px;
    }

    .tablette_pc_3 {
        display: flex;
        width: 100%;
        
            .box__restaurant_carte {
                width: 49%;
            }
    
    }   
    
}        



/**section__box__footer******************************************************/

.section__box__footer {               
    width           : 100%;
    padding-top     : 20px;
    padding-bottom  : 30px;
    background-color: $bg-fonce;
    color           : #fff;

        h2 {
            color       : #fff;
            font-family : 'shrikhandregular';
            padding-left: 10px;
            font-weight : lighter;
            font-size   : 0.9rem;
            margin-bottom: 10px;
            
        }

        p {
            color       : #fff;
            padding-left: 10px; 
            font-size   : 0.7rem; 
            margin-bottom: 4px; 
        }

        .box__footer__item__1::before {
            font-family : "Font Awesome 5 Free"; 
            font-weight : 900; 
            font-size   : 0.5rem;
            content     : "\f2e7";
            margin-right: 10px;
            
          }

        .box__footer__item__2::before {
            font-family : "Font Awesome 5 Free"; 
            font-weight : 900; 
            font-size   : 0.5rem;
            content     : "\f4c4";
            margin-right: 6px;
          }  

        
}

@media screen and (min-width: 630px) {

    .section__box__footer {
        display: flex;
        justify-content: center; 
    
        h2 {
                font-size: 1.7rem;
            }

        p {
            font-size: 1.2rem;
        }

        .box__footer__item__1::before,
        .box__footer__item__2::before {
            font-size   : 1.0rem;
        } 

    }


    .box__footer {
        width: 90%;        
        justify-content: space-between;
        display: flex;
        text-align: center;     
    }

}



/**Page menu ***************************************************/

.nav__image {
    background-image: url(../image/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include bg-img-menu;

        @media screen and (min-width: 991px) { 
            @include bg-img-menu;
            width              : 100%;
            height             : 400px;
        }

}

.nav__image--La_palette_du_goût {
    background-image: url(../image/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include bg-img-menu;

        @media screen and (min-width: 991px) { 
            @include bg-img-menu;
            width              : 100%;
            height             : 400px;
        }
    
}

.nav__image--Le_delice_des_sens {
    background-image: url(../image/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include bg-img-menu;
    
        @media screen and (min-width: 991px) { 
            @include bg-img-menu;
            width              : 100%;
            height             : 400px;
        }
}


.nav__image--la_note_enchantee {
    background-image: url(../image/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include bg-img-menu;
    
        @media screen and (min-width: 991px) { 
            @include bg-img-menu;
            width              : 100%;
            height             : 400px;
        }
}



/**carte__menu***************************************************************/

.fa-arrow-left {
    position:absolute;
    top: 20px;
    left: 20px;


        @media screen and (min-width: 630px) and (max-width: 991px){ 
            top: 40px;
            left: 50px;
            font-size: 2.5rem;
        }

        @media screen and (min-width: 992px) { 
            top: 80px;
            left: 50px;
            font-size: 2.5rem;
        }

}

.tablette_pc_carte {

        @media screen and (min-width: 630px) { 
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
}

.carte__menu {
@include carte__menu;
margin-top: -30px; 
}


.carte__menu__box {
    @include carte__menu__box; 

        @media screen and (min-width: 630px) and (max-width: 991px){ 
            padding-left: 10px;
            padding-right: 10px;

    }
        
}


.carte__menu__box--iteme {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    @include box-shadow-choix;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    animation: selection  0.2s ease-in-out;
    overflow: hidden;

        @media screen and (min-width: 630px) and (max-width: 991px){ 
            width: 235px;

        }



        .carte__menu__box--iteme--texte {
            min-width: 70%;
            
                & h3 {
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-bottom: 5px;
                }

                & p {
                    padding-left: 10px;
                    padding-bottom: 10px;        
                }
        }


        .trans {
            min-width: 30%;
            display: flex;
            

            .points {
                background-color: #fff;
                min-width: 25%;
                position: relative;
                height: 20px;
                top: 29px;
                left: 102%;
                font-size: 1.2rem;
                font-weight: bolder;
                background-color: #fff;
                padding-right: 80px;
                
                    @media screen and (min-width: 991px) { 
                        top: 35px;
                    }
                }
            

            .carte__menu__box--iteme--prix {
                background-color: #fff;
                min-width: 25%;
                position: relative;
                height: 20px;
                top: 35px; 
                left: -40%;
                font-size: 1.5rem;
                font-weight: bolder;
                animation: transi 0.70s ease-out;  
                
                    @media screen and (min-width: 630px) and (max-width: 991px){ 
                        left: -80%;
                    }

                    @media screen and (min-width: 991px) { 
                        top: 40px;
                    }
            }


            .check {
                background-color:$tertiaire;
                min-width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0px 10px 10px 0px;
                color: #fff;
                font-size: 1.2rem;
                position: relative;
                left: 52%;
                animation: transi 0.70s ease-out;
            }

    }    
        
}



        


/***Animation ************************************************************/
.entrees_1,
.plats_1,
.desserts_1 {
    animation: apparition 1.000s ease-out;
}

.entrees_2,
.plats_2,
.desserts_2 {
    animation: apparition 0.90s ease-out;
}

.entrees_3,
.plats_3,
.desserts_3 {
    animation: apparition 0.80s ease-out;
}


.entrees_4,
.plats_4,
.desserts_4 {
    animation: apparition 0.06s ease-out;
}


@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(100px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/*** Apparition **************/


/**Translation *******************/
.carte__menu__box--iteme:hover .points {
    animation: petit_points 0.5s ease-in-out;
    animation-fill-mode: forwards;
        
}    

@keyframes petit_points {
    from {
        opacity: 0;
        transform: translateX(0%);
    }

    to {
        opacity: 1;
        transform: translateX(-170%);
       
    }
}


@media screen and (min-width: 630px) and (max-width: 991px){ 

    @keyframes petit_points {
        from {
            opacity: 0;
            transform: translateX(0%);
        }
    
        to {
            opacity: 1;
            transform: translateX(-110%);
           
        }
    }
}

@media screen and (min-width: 991px) { 

    @keyframes petit_points {
        from {
            opacity: 0;
            transform: translateX(0%);
        }
    
        to {
            opacity: 1;
            transform: translateX(-150%);
           
        }
    }
}




.carte__menu__box--iteme:hover .carte__menu__box--iteme--prix {
    animation: prix 0.4s ease-in-out;
    animation-fill-mode: forwards;
}    

@keyframes prix {
    from {
        opacity: 0;
        transform: translateX(0%);
    }

    to {
        opacity: 1;
        transform: translateX(-350%);
    }
}

@media screen and (min-width: 630px) and (max-width: 991px){ 

    @keyframes prix {
        from {
            opacity: 0;
            transform: translateX(0%);
        }
    
        to {
            opacity: 1;
            transform: translateX(-300%);
        }
    }
}


@media screen and (min-width: 991px) { 

    @keyframes prix {
        from {
            opacity: 0;
            transform: translateX(0%);
        }
    
        to {
            opacity: 1;
            transform: translateX(-250%);
        }
    }
}






.carte__menu__box--iteme:hover .check{
    animation: coche 0.3s ease-in-out;
    animation-fill-mode: both;
}    

@keyframes coche {
    from {
        opacity: 0;
        transform: translateX(0%);
    }

    to {
        opacity: 1;
        transform: translateX(-188%);
    }
}


@media screen and (min-width: 630px) and (max-width: 991px){ 

    @keyframes coche {
        from {
            opacity: 0;
            transform: translateX(0%);
        }
    
        to {
            opacity: 1;
            transform: translateX(-235%);
        }
    }
}



@media screen and (min-width: 991px) { 

    @keyframes coche {
        from {
            opacity: 0;
            transform: translateX(0%);
        }
    
        to {
            opacity: 1;
            transform: translateX(-180%);
        }
    }
}










.carte__menu__box--iteme:hover .fa-check-circle{
    animation: rotation_1 0.8s ease-in-out;
    animation-fill-mode: both;
}   


@keyframes rotation_1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
 

.box__menu__btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;



        .bouton__menu {
            @include bouton;
            @include couleur-btn;
            padding-left: 30px;
            padding-right: 30px;

                &:hover {
                    @include box-shadow-choix;
                    padding      : 21px 41px 21px 41px; 
                } 

                @media screen and (min-width: 630px) { 
                    padding: 20px 40px 20px 40px ;
                    font-size: 1.5rem;
                }

        }
}










