@font-face {
    font-family: 'shrikhandregular';
    src: url('../font/webfontkit-20201026-065337/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20201026-065337/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}